<div class="container p-g mt-4">

</div>

<div class="container mt-5">
    <form #userForm="ngForm" class="d-flex flex-column form-group">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" name="name" placeholder="Enter student name" required class="form-control"
            [(ngModel)]="Name" />
        <div div class="mb-2  ">
            <span class="mb-3 text-danger" [class.d-none]="Name.length > 5">Username must be have atleast 6
                characters</span>
        </div>
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="Password" required class="form-control" placeholder="Enter Password"
            [(ngModel)]="password" />
        <div class="mb-4">
            <span class="mb-3 text-danger mt-3" [class.d-none]="password.length >= 8">password must be 8 characters
                atleast </span>

        </div>
    </form>
    <button class="btn btn-outline-success mt" type="submit" [disabled]="!userForm.valid" [routerLink]="['/']">Login</button>
</div>